.container {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color: var(--blue-dark-2);
    margin-bottom: 2%;
    text-align: center;
}

.inputWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 50%;
    aspect-ratio: 7;
    border: 1px solid var(--neutral-grey-light);
    border-radius: 8px;
    background-color: var(--neutral-white);
    font-size: 16px;
    text-align: center;
}
