.footer {
    background-color: var(--blue-secondary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.footerText {
    font-size: 12px;
    color: var(--neutral-grey-darkest);
}
