.bannerContainer {
    margin: 2% 3%;
    padding: 2% 3.5%;
    border-radius: 8px;
    background-color: var(--blue-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainContent {
    flex: 1;
}

.bannerHeadline {
    color: var(--neutral-white);
    font-size: 16px;
    font-weight: 600;
    margin-right: 3%;
}

.ctaButton {
    background-color: var(--neutral-white);
    padding: 2% 3%;
    border-radius: 20px;
    border: none;
    color: var(--neutral-grey-darkest);
    font-weight: 600;
    cursor: pointer;
}

.closeButton {
    margin-left: 2%;
    padding: 2%;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--neutral-black);
    cursor: pointer;
}
