.column {
    flex: 1;
    /*padding: 0.5%;*/
    /*border-radius: 10%;*/
    /*shadowColor: Colors.NeutralGreyLight;*/
    /*shadowOffset: {width: 0, height: 2};*/
    /*shadowOpacity: 0.1;*/
    /*shadowRadius: 4;*/
}
