.container {
    flex: 1;
    min-height: 0;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3%;
    margin: 2%;
    min-height: 0;
}

.bottomContainer {
    margin-top: 2%;
}

.infoButton {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
