.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityContainer {
    padding: 3px 7px;
    border-radius: 8px;
    border: 1.5px solid;
}

.quantityText {
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}
