.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.title {
    font-size: 14px;
    font-weight: 700;
    color: var(--blue-accent);
    margin-bottom: 4px;
}

.outer {
    width: 38px;
    height: 120px;
    border: 2px solid var(--neutral-grey-darker);
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
}

.inner {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.value {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
    color: var(--blue-accent);
}
