.container {
    flex: 1;
    padding: 16px;
    background-color: var(--neutral-grey-light);
    border-radius: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.primaryButton {
    flex: 1;
    padding: 12px 0;
    background-color: var(--blue-accent);
    border-radius: 8px;
    border: none;
    color: var(--neutral-white);
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    cursor: pointer;
}

.secondaryButton {
    flex: 1;
    padding: 12px 0;
    background-color: var(--neutral-white);
    border: 1px solid var(--blue-accent);
    border-radius: 8px;
    color: var(--blue-accent);
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
}
