.container {
    border: 1px solid var(--neutral-grey-light);
    padding: 2%;
    background-color: var(--neutral-white);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 14px;
    color: var(--neutral-grey-darker);
    text-align: center;
    margin-bottom: 2%;
}
