.container {
}

.subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2%;
    color: var(--neutral-white);
}

.subSubtitle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
    color: var(--neutral-white);
}

.sectionParagraph {
    font-size: 14px;
    margin-bottom: 1%;
    color: var(--neutral-white);
}

.bullet {
    font-size: 14px;
    margin-left: 2%;
    margin-bottom: 1%;
    color: var(--neutral-white);
}

.stepTitle {
    font-size: 14px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: var(--neutral-white);
}

.italicNote {
    font-style: italic;
}

.sectionWrapper1 {
    background-color: var(--blue-secondary);
    padding: 0.5% 3% 1%;
    border-radius: 6px;
    margin-bottom: 4%;
}

.sectionWrapper2 {
    background-color: var(--blue-tertiary);
    padding: 0.5% 3% 1%;
    border-radius: 6px;
    margin-bottom: 4%;
}

.sectionWrapper3 {
    background-color: var(--blue-dark);
    padding: 0.5% 3% 1%;
    border-radius: 6px;
    margin-bottom: 4%;
}

.sectionWrapper4 {
    background-color: var(--blue-bright-3);
    padding: 0.5% 3% 1%;
    border-radius: 6px;
    margin-bottom: 4%;
}

.sectionWrapper5 {
    background-color: var(--blue-bright-5);
    padding: 0.5% 3% 1%;
    border-radius: 6px;
    margin-bottom: 4%;
}
